* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Copperplate", "Times New Roman", Times, serif;
}

body {
  margin: 1px;
  border: 5px solid black;
  border-radius: 10px;
}
.header {
  font-size: 2rem;
  margin: 0 auto 0 auto;
  padding: 20px;
  border: 3px solid black;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: yellow;
}

section {
  position: relative;
  margin: 20px auto 0 auto;
  padding: 20px;
  height: 70vh;
  border: 3px solid black;
  text-align: center;
  width: 80%;
  border-radius: 10px;
}
.bookmarkImage1 {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.bookmarkImage2 {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.pQ1 {
  padding: 40px 50px 50px 10px;
  font-size: 2rem;
}
.pQ2 {
  padding: 40px 50px 50px 10px;
  font-size: 2rem;
}

.buttonQ1 {
  background-color: transparent;
  border: solid;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonQ2 {
  background-color: transparent;
  border: solid;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonQ1:hover {
  background-color: yellow;
}

.buttonQ2:hover {
  background-color: yellow;
}

.ulQ1 {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
  align-items: flex-end;
  padding: 10px;
  margin-top: 10px;
}

.ulQ2 {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
  align-items: flex-end;
  padding: 10px;
  margin-top: 10px;
}

.ulQ1 li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 10%;
  margin: 40px 5px 0 0;
  background-color: yellow;
  list-style-type: none;
}

.ulQ2 li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 10%;
  margin: 40px 5px 0 0;
  background-color: yellow;
  list-style-type: none;
}

footer {
  background-color: yellow;
  width: 80%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
}

.ulFooter {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: black;
  background-color: yellow;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: white;
  border-radius: 10px;
  padding-top: 50px;
}

.home {
  background-color: pink;
  border-radius: 10px;
  padding-top: 50px;
}

.bookmarks {
  background-color: pink;
  border-radius: 10px;
}

.bookmarkButton1 {
  background-color: transparent;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  position: absolute;
  top: -20px;
  right: 10px;
  /* z-index: 1; */
}

.bookmarkButton1:hover {
  background-color: yellow;
  border: solid;
  padding: 50px;
  /* z-index: -1; */
}

.bookmarkButton2 {
  background-color: transparent;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  position: absolute;
  top: -20px;
  right: 10px;
  padding: 50px;
  /* z-index: 1; */
}

.bookmarkButton2:hover {
  background-color: yellow;
  border: solid;
  padding: 50px;
  /* z-index: -1; */
}

.dark {
  background-color: pink;
}

.bottomLogo {
  height: 70px;
  width: 70px;
}

.pAnswer {
  display: none;
}

.answer1,
.answer2 {
  font-size: 1rem;
  width: 50%;
  text-align: center;
  display: none;
  padding: 10px;
  border: 3px solid yellow;
  border-radius: 10px;
  position: absolute;
  right: 25%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.favourite {
  background-color: pink;
  border-radius: 10px;
  padding-top: 50px;
}

.sectionHide {
  display: none;
}

.sectionShow {
  display: block;
}

.bookmarkShow {
  display: flex;
}

.bookmarkHide {
  display: none;
}

.gridBox {
  margin-top: 100px;
}
